/* Base Styles */
body {
    font-family: 'Georgia', serif;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

/* Header Styles */
header {
    background-color: #2E4053;
    color: #fff;
    padding: 2em 1em;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin-top: 0.5em;
}

/* Main Content Styles */
main {
    padding: 2em;
    max-width: 800px;
    margin: auto;
}

.about, .services {
    margin-bottom: 2em;
}

.about h2, .services h2 {
    color: #2E4053;
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.about p {
    font-size: 1.1em;
    text-align: justify;
}

/* Services Styling and Animation */
.services ul {
    list-style-type: none;
    padding: 0;
}

.services li {
    background-color: #e7e7e7;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 0.5em;
    font-size: 1.1em;
    opacity: 0;
    animation: fadeInUp 0.5s forwards;
    transition: background-color 0.3s;
}

.service-item a {
    text-decoration: none;
    color: #333;
}

.services li:hover {
    background-color: #ddd;
}

/* Animation Keyframes */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer Styles */
footer {
    background-color: #2E4053;
    color: #fff;
    text-align: center;
    padding: 1.5em;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

footer p {
    margin: 0.2em 0;
    font-size: 1.1em;
}
